@charset "UTF-8";

h1, h2 {
    text-align: center;
}

/* --- Novel
p {
    margin-top: 0;
    margin-bottom: 0;
}

p + p {
    text-indent: 1.125em;
}
*/

.chapter {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2.25em;
}

.ch {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.75em;
}

aside {
    font-size: 0.8125em;
}

aside p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2.translator {
    margin-top:  0.75em;
    margin-bottom: 1em;
}

div.index {
    margin: 1em 0;
    line-height: 1.5;
    text-align: center;
}

div.index > a {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.m-li {
    margin-top: 0.75em;
}

.bqr {
    padding: 0;
    border: 0 none;
}
